@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: red;
    font-weight: bold;
    text-decoration: none;
    
}
a:visited {
    color: darkred;
}
.especial {
    background-color: rgba(240, 158, 158, 0.836);
}
a:hover {
    text-decoration: underline;
}
.especial::after {
    content: ' < click here';
}

